<div class="row">
    <div class="shadow-lg col-sm-4"> <!-- Adjust the column width as needed -->
            <div class="card">
                <img src="https://img.freepik.com/premium-photo/big-american-house-generative-ai_170984-9624.jpg" alt="" srcset="">
                <div class="p-2">
                    <h1>{{Property.Name}}</h1>
                    <h2>{{Property.Type}}</h2>
                    <h3>{{Property.Price}}</h3>
                </div>
                
            </div>
        
    </div>
</div>